.form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Just Another Hand', cursive;
  /*avoid vw/vh for font sizes */
  /* font sizes as ems usually better*/
  font-size: 6vw;
}

.container {
  width: 70%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em;
  position: absolute;
  height: auto;
  background-image: url('../images/blankPaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 6%;
  height: 89%;
}

.title {
  text-align: center;
  font-size: 1.4vw;
  margin-top: 10%;
}

.game{
  display: none;
  min-width: 400px;
  max-width: 600px;
  max-height: 500px;
  min-height: 400px;
  height: 100%;
  margin: 0 auto;
}

.players {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Just Another Hand', cursive;
  font-size: 3vw;
}

.player1 {
  width: 25%;
  margin: 0 auto;
  display: inline-block;
  color: #dd3044;
}

/*consistent color method*/

.player1 p {
  margin: 2%;
}

.eraser {
  width: 25%;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
}
.player2 {
  width: 25%;
  margin: 0 auto;
  display: inline-block;
  color: navy;
}
.player2 p {
  margin: 2%;
}

.displayResult {
  height: 1%;
  margin: 1em;
  text-align: center;
  font-family: 'Just Another Hand', cursive;
  font-size: 3vw;

}

.board {
  /*background-image: url(../images/board.png);*/
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.line {
  position: relative;
  height: 33.3333333%;
  width: 100%;
  text-align: center;
}
.square {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 33.3333333%;
  height: 33.3333333%;
  font-family: 'Just Another Hand', cursive;
  text-align: center;
  font-size: 5em;
  float: left;
  padding-top: 5%;
}

/* squre-tile-font */


.jah-font {
  font-family: 'Just Another Hand', cursive;
}


.hover-div{
  color: #adadad;
  margin: 0 auto;
}

.cross {
  /*background-image: url("../images/cross.png");*/
  background-size: contain;
  color: #dd3044;
}
.nought{
  /*background-image: url("../images/Nought.png");*/
  background-size: contain;
  color: navy;
}
.empty{

}
.result {

}
#resetBtn {
  width: 3em;
}


/* use divs or other tags to group similar elements */

#sqr-0{
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
#sqr-1{
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
#sqr-2{
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}
#sqr-3{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}
#sqr-4{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}
#sqr-5{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
}
#sqr-6{
  border-top: 3px solid black;
  border-right: 3px solid black;
}
#sqr-7{
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;

}
#sqr-8{
  border-top: 3px solid black;
  border-left: 3px solid black;
}
body {
  background-image: url("../images/main-background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

/* using ems is recommended */

@media (max-width: 720px) {
  .container {
    background-size: contain;
    min-width: 300px;

  }

  .players {
    font-size: 6vw;
  }
  .form {
    font-size: 6vw;
  }
}

@media (min-width: 800px) {
  .container {
    background-size: cover;
    max-width: 559px;
  }

  .players {
    font-size: 4vw;
  }
  .form {
    font-size: 3vw;
  }

}
@media (max-width: 620) {

}
